<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <!--  <property name="hibernate.connection.url">jdbc:mysql://46.249.223.10:3306/zanvorkc_guild_hub?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">zanvorkc_user</property>
    <property name="hibernate.connection.password">vQ.mT.dgvP6</property> -->
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/guild_hub?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">zanvork</property>
    <property name="hibernate.connection.password">jdf7g4me</property>
    <property name="hibernate.connection.pool_size">3</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">validate</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.use_sql_comments">true</property>
    <mapping class="com.zanvork.guildhub.model.Guild"/>
    <mapping class="com.zanvork.guildhub.model.Character"/>
    <mapping class="com.zanvork.guildhub.model.Race"/>
    <mapping class="com.zanvork.guildhub.model.RaidTeam"/>
    <mapping class="com.zanvork.guildhub.model.Realm"/>
    <mapping class="com.zanvork.guildhub.model.Class"/>
    <mapping class="com.zanvork.guildhub.model.Spec"/>
  </session-factory>
</hibernate-configuration>
